



@media (max-width: 576px) {
  .loginbox {
    padding: 72px 15px 90px 15px;
  }
}


/* new css */

html {
    min-height: 100%;
}


body {
  margin: 0;
  padding: 0;

  background: linear-gradient(100deg, #f0e109 50%, #004E95 50%);
    background-size: cover;
  background-position: center;
}

.loginbox {
  width: 720px;
  height: 20px;
  background: rgb(255, 255, 255);
  color: #000;
  top: 5%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 30%);
  box-sizing: border-box;
  margin-bottom: 4rem;
  box-shadow: #333333;
}

button:active {
  border: 3px solid rgb(11, 31, 208);
}

button:hover {
  border: 3px solid rgb(11, 31, 208);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.imgcontainer img{
    height: 100px; 
    margin-top: -75px; 
    border-radius: 50%;
    border: 1px solid #000;
}

/* .imgcontainer{
    display: flex; 
    justify-content:center;
} */
.imgcontainer{
  width: 320px;
  height: 420px;
  background-color: white;
  top: 58;
    display: flex; 
    justify-content:center;
}

.login100-form-logo {
  font-size: 60px; 
  color: #333333;


  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}



/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.container-contact2 {
  margin: 10rem;
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  
  min-height: 500px;
}

#form1 {
  display:none;
}

#form3 {
  display:none;
}


.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
}

.contact3-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #333333;
  text-align: center;
  padding-bottom: 90px;
}

.contact4-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: center;
  padding-bottom: 30px;
}

@media only screen 
and (max-device-width: 800px)
    { 
        input[type=text], select {
            width: 400px;
    }
}
