

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: 'Varela Round', sans-serif;
}


h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.imgcontainer img{
    height: 100px; 
    margin-top: -75px; 
    border-radius: 50%; 
}

.imgcontainer{
    display: flex; 
    justify-content:center;
}



/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(100deg, #f0e109 50%, #004E95 50%);
  min-height: 500px;
}

#form1 {
  display:none;
}

#form3 {
  display:none;
}


.wrap-contact2 {
  width: 790px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 25px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 10px;
}

.contact3-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  color: #333333;
  text-align: center;
  padding-bottom: 90px;
}

.contact4-form-title {
  display: block;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #333333;
  text-align: center;
  padding-bottom: 30px;
}



@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}


